@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
    box-sizing: border-box
}

:root {
    --ff: 'Nanum Gothic', sans-serif;
}

body {
    --fs-sm: 18px;
    --fs-md: 22px;
    --fw-reg: 400;
    --fw-bold: 700;
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(40, 49, 80);
    background-color: var(--color-blue);
    margin: 0;

    font-family: var(--ff);
    font-size: var(--fs-sm);
    font-weight: var(--fw-reg);
    color: var(--color-white)
}

